            </div>
            <!-- End div for middle page content -->

        </div>
        <!-- End main body content -->

        <!-- Divider for copyright section -->
        <hr class="featurette-divider">

        <!-- Copyright footer at the bottom -->
        <footer>
            <div class="row">
                <div class="col-xs-12">

                    <!-- Left side of the footer, where copyright stuff goes -->
                    <p>&copy; 2017 C. Pearce</p>

                </div>
            </div>
        </footer>

    </div>
    <!-- End Main Page Div -->

</body>
</html>