{%  include "./_header.html" %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h1 class="panel-title">{{ question.question_text }}</h1>
    </div>

    <div class="panel-body">
        {% if error_message %}
            <div id="badInput" class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"> &times;</a>
                <strong>{{ error_message }}</strong>
            </div>
        {% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="radio">
                <label for="choice{{ forloop.counter }}">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                {{ choice.choice_text }}</label>
            </div>
        {% endfor %}
        <input type="submit" value="Vote" class="btn btn-primary"/>
        </form>
    </div>

</div>

{%  include "./_footer.html" %}