# /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=cp
Group=www-data
WorkingDirectory=/var/www/RegistrarAnalyzer/se_site
ExecStart=/var/www/RegistrarAnalyzer/se_site/se_siteenv/bin/gunicorn --workers 3 --bind unix:/var/www/RegistrarAnalyzer/se_site/se_site.sock se_site.wsgi:application

[Install]
WantedBy=multi-user.target
